body{
    background: #cce2ff;
    font-family: 'Abel', sans-serif;
    font-size: 20px;
    color: #3B3B3B;
    
    margin: 0;
    padding: 0;
}

h1, h2, maptitle{
    font-family: "impact";
    font-weight: normal;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    color: #111111;
}

#logo h1{
    line-height: 150px;
    letter-spacing: 28px;
    font-size: 7em;
    text-align: center;
}

#header-page{
    overflow: hidden;
    height: 600px;
}

#header{
    overflow: hidden;
    width: 1000px;
    height: 150px;
    margin: 0 auto;
    padding: 0px, 0px;
}

#banner{
    margin: 0px auto;
    width: 1000px;
    height: 450px;
    padding-right: 20px;

}

img{
    width: 1000px;
}

#threeColumns{
    overflow: hidden;
    width: 1000px;
    margin: 0px auto;
    padding-top: 30px;
    padding-left: 90px;
    padding-bottom: 30px;
}

    #threeColumns h2{
        padding: 0px 9px 20px 0px;
        font-size: 40px;
        letter-spacing: 5px;
    }

    #threeColumns #column1{
        float: left;
        width: 33.33%;
        margin-right: 20px;
    }

    #threeColumns #column1 a{
        text-decoration: none;
    }

    #threeColumns #column1 a:link{
        color: darkblue;
    }

    #threeColumns #column1 a:hover{
        color:darkred;
        font-weight:bold;
    }

    #threeColumns #column1 a:active{
        color: forestgreen;
    }

    #threeColumns #column1 a:visited{
        color:firebrick;
    }

    #threeColumns #column1 ul{
        list-style-type: none;
        margin:0;
    }

    #threeColumns #column1 ul li{
        margin: 0 0 20px 0;
        font-size: 16px;
    }

    #threeColumns #column2 h2{
        text-align: center;
    }

    #threeColumns #column2{
        float: left;
        width: 220px;
        margin-right: 30px;
    }

#threeColumns #column3{
        float: right;
        width: 33.33%;
    }

iframe{
    width: 200px;
    height: 300px;
    border: 0px;
    padding-left: 4px;
}

form input[type=text]{
    width: 200px;
}

form textarea{
    width: 200px;
    height: 100px;
    resize: none;
}

#footer{
    padding: 5px;
    text-align: center;
    background-color: black;
    color:white;
    width: 1000px;
    margin: 0px auto;
}

























